
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

.site-header{
  text-transform: uppercase;
}

.site-title{
    font-family: "Rubik Marker Hatch", system-ui;
    font-size: 1.45rem;
}

.page-link{
  color: $accent-color !important;
}
