<style>
    .page-heading{
        text-align: center;
    }
</style>

<div id="form-box">

    <form action="{{site.form_url}}" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <input type="text" name="_honey" style="display:none">
                    <input type="text" name="URL" class="form-control" placeholder="Instagram URL" required>
                </div>
            </div>
            <div class="form-col">
                <button type="submit" class="form-submit">Submit Event</button>
            </div>
        </div>
    </form>

    <p>Or</p>

    <form action="{{site.form_url}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <input type="text" name="_honey" style="display:none">
                    <input type="text" name="Name" class="form-control" placeholder="Event Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    <input type="text" name="Location" class="form-control" placeholder="Location" required>
                </div>
                <div class="form-col">
                    <input type="date" name="Date" class="form-control" placeholder="Date" required>
                </div>
            </div>
            <div class='form-row'>
                <textarea name="Description" placeholder="Event description, time, bands, price, etc." required></textarea>
            </div>
            <div class='form-row'>
                <input type="text" placeholder="Tags, comma seperated">
            </div>
            <div class="form-row">
                Flyer Image: <input type="file" name="attachment" accept="image/png, image/jpeg">
            </div>
            <div class="form-col">
                <button type="submit" class="form-submit">Submit Event</button>
            </div>
        </div>
    </form>
            <!-- <input type="text" name="Name" class="form-control" placeholder="Event Name" required>
            <div class="form-row">
                <div class="form-col">
                    <input type="text" name="Location" class="form-control" placeholder="Location" required>
                </div>
                <div class="form-col">
                    <input type="date" name="Date" class="form-control" placeholder="Date" required>
                </div>
            </div>
            <textarea name="message" placeholder="Event Description"></textarea>
            <div class="form-row">
                <input type="file" name="attachment" accept="image/png, image/jpeg">
            </div>
            <input type="text" name="_honey" style="display:none">
        </div>
        <button type="submit">Send</button>
    </form>  -->

</div>